<p-card header="Liste des groupes de musique">
  <p-toolbar>
    <div class="p-toolbar-group-left">
      <p-fileUpload mode="basic"
                    [customUpload]="true"
                    [multiple]="false"
                    [accept]="validFileExtensions"
                    [maxFileSize]="maxFileSize"
                    (uploadHandler)="myUploader($event)"
                    [auto]="true"
                    chooseLabel="Choisissez votre fichier à importer"
      ></p-fileUpload>
    </div>
  </p-toolbar>


  <p-table dataKey="uuid"
           [value]="data"
           [lazy]="true"
           (onLazyLoad)="onLazyLoad($event)"
           [paginator]="true"
           [rows]="rowsPerPage"
           [rowsPerPageOptions]="[10,20,50]"
           [totalRecords]="totalRecords"
           [loading]="loading"
           [rowHover]="true"
           [autoLayout]="true"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th pSortableColumn="name">Nom du groupe <p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="origin">Origine <p-sortIcon field="origin"></p-sortIcon></th>
        <th pSortableColumn="city">Ville <p-sortIcon field="city"></p-sortIcon></th>
        <th>Année de début</th>
        <th>Année de séparation</th>
        <th pSortableColumn="founders">Fondateurs <p-sortIcon field="founders"></p-sortIcon></th>
        <th>Nombre de membre</th>
        <th pSortableColumn="musical_style">Courant musical <p-sortIcon field="musical_style"></p-sortIcon></th>
        <th pSortableColumn="description">Présentation <p-sortIcon field="description"></p-sortIcon></th>
        <th>Date d'import</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr>
        <td>{{data.name}}</td>
        <td>{{data.origin}}</td>
        <td>{{data.city}}</td>
        <td>{{data.start }}</td>
        <td>{{data.end }}</td>
        <td>{{data.founders}}</td>
        <td>{{data.members}}</td>
        <td>{{data.musicalStyle}}</td>
        <td>{{data.description}}</td>
        <td>{{data.createdAt | date:'shortDate':'fr' }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="10">
          Aucun groupe de musique
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
